﻿@{
    ViewBag.Title = "Ana Sayfa";
}


<div class="row">
    <div class="col-md-4">
        <h2>Kategorileri Filtrele</h2>

        <div class="input-group">
            <span class="input-group-addon">
                <b>Sinema  </b>
                <input type="checkbox" aria-label="u">
            </span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <b>Tiyatro  </b>
                <input type="checkbox" aria-label="u">
            </span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <b>Doğa</b>
                <input type="checkbox" aria-label="u">
            </span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <b>Siber Güvenlik  </b>
                <input type="checkbox" aria-label="u">
            </span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <b>Konferans  </b>
                <input type="checkbox" aria-label="u">
            </span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <b>Müzik</b>
                <input type="checkbox" aria-label="u">
            </span>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Uygula</button>
        </div>
    </div>
    <div class="col-md-8"></br><h4> B131210034   Hüseyin HİLAL  </h4>
        <div class="thumbnail">
            <img  src="~/resimler/kar.jpg" width="600" height="600" alt="Kartopu Savaşı">
        </div></br>
        <div class="thumbnail">
            <img  src="~/resimler/konser.jpg" width="600" height="600" alt="Konser">
        </div></br>
        <div class="thumbnail">
            <img  src="~/resimler/siber.jpg" width="600" height="600" alt="Siber Güvenlik">
        </div></br>
        <div class="thumbnail">
            <img  src="~/resimler/oyun.jpg" width="600" height="600" alt="Oyun Programlama">
        </div></br>
    </div>

</div>
  